$apple-blossom: #ac4142;
$alto: #2f2f2f;
$bouquet: #83587a;
$chelsea-cucumber: #596935;
$cod-grey: #eaeaea;
$conifer: #4a17ac;
$dove-grey: #999;
$gallery: #151515;
$grey: #777;
$gulf-stream: #466e68;
$hippie-blue: #486c7c;
$potters-clay: #8f5536;
$rajah: #997646;
$raw-sienna: #965e30;
$silver-chalice: #555;
$body-background-img: url("../images/bkg-invert.png");
$ul-bullet: url('../images/bullet-invert.png');
$transparency: 1B
