$apple-blossom: #53bebd;
$alto: #2f2f2f;
$bouquet: #558a60;
$chelsea-cucumber: #6f56a6;
$cod-grey: #eaeaea;
$conifer: #4a17ac;
$dove-grey: #f9f9f9;
$gallery: #151515;
$grey: #f7f7f7;
$gulf-stream: #8a4a55;
$hippie-blue: #95604a;
$potters-clay: #8f5536;
$rajah: #0b408a;
$raw-sienna: #2d7bba;
$silver-chalice: #555555;
$body-background-img: url("../images/bkg-invert.png");
$ul-bullet: url('../images/bullet-invert.png');
