---
layout: compress
---

<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' |  relative_url }}">
    {% if site.favicon %}
      <div id="favicon">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon |  relative_url | append: '/apple-touch-icon.png' }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.favicon |  relative_url | append: '/favicon-32x32.png' }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.favicon |  relative_url | append: '/favicon-16x16.png' }}">  
        <link rel="manifest" href="{{ site.favicon |  relative_url | append: '/site.webmanifest' }}">
        <link rel="shortcut icon" href="{{ site.favicon |  relative_url | append: '/favicon.ico' }}">
        <meta name="msapplication-config" content="{{ site.favicon |  relative_url | append: '/browserconfig.xml' }}">
      </div>
    {% endif %}
    <div id="seo">
      {% seo %}
    </div>
  </head>
  <body>
    {{ content }}
    {% if site.google_analytics %}
    <div id="google_analytics">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', '{{ site.google_analytics }}');
      </script>
    </div>
    {% endif %}
  </body>
</html>
